/build/
/cmake/ant_engine.pc
/cmake/ant_engine-config-version.cmake
/cmake/CMakeFiles/
/cmake/CMakeCache.txt
/cmake/install_manifest.txt
/cmake/libant_engine.so
/cmake/Makefile
/cmake/libant_engine.so.*
/cmake/libant_engine.a
/cmake/cmake_install.cmake
/cmake/compile_commands.json
/cmake/ant_engine_CXX*
/libtester/
/dependencies/intel_mkl/

/.vs/
/cmake/.vs/
/cmake/cot*
/src/core/common.h.gch
/cmake/Debug/
/cmake/ant_engine.dir/
/cmake/WIN32/
/cmake/*.vcxproj
/cmake/*.vcxproj.user
/cmake/*.vcxproj.filters
/cmake/*.sln
